.dialogue-box {
    background-color: #EFF3F5;
    position: absolute;
    width: 72px;
    height: 900px;
    left: 0px;
    top: 0px;
}
.chat-logo {
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: x-large;
}
.chat-icon {
    position: absolute;
    left: 25px;
    top: 75px;
    font-size: large;
}
.admin-icon {
    position: absolute;
    left: 25px;
    top: 125px;
    font-size: large;
}

.send-icon {
    position: absolute;
    left: 25px;
    top: 175px;
    font-size: large;
}

.system-icon {
    position: absolute;
    left: 25px;
    top: 225px;
    font-size: 20px;
}
.stocks-icon {
    position: absolute;
    left: 25px;
    top: 275px;
    font-size: 20px;
}
.bargraph-icon {
    position: absolute;
    left: 25px;
    top: 325px;
    font-size: 20px;
}
.help-icon {
    position: absolute;
    left: 25px;
    top: 625px;
    font-size: 20px;
}
.settings-icon {
    position: absolute;
    left: 25px;
    top: 675px;
    font-size: 20px;
}